*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open Sans', sans-serif;
} 
body{
    background-color: rgb(231, 231, 231);
}
.container{
    margin :20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .color{
    list-style: none;
    text-align: center;
    cursor: pointer;
    margin :13px; 
    padding: 7px;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(52,87,220,0,08); 
     background-color: #fff; 
     transition: transform 0.3s ease ;
}
.container .color:active {
    transform : scale(0.95)
}
.color:hover .box{
    filter: brightness(160%);
}
.color .box{
    width: 185px;
    height : 188px; 
    border-radius: 5px;
    background-color:violet ; 
    
}
.color .value {
    display: block;
    color: gray;
    margin: 12px 0 8px;
    font-size: 1.15rem;
    font-weight:500 ;
}
.btn{
    outline: none;
    position: fixed;
    left: 50%;
    cursor: pointer;
   color: rgb(124, 51, 167);
   background-color: rgb(245, 245, 245);
    font-size: 1.1rem;
    border: 2px solid ;
    border-radius: 5px;
    font-weight:500 ;
    padding: 12px 20px;
    box-shadow: 0 10px 25px rgba(52,87,220,0,08);  
    transform: translateX(-50%);
} 
h1{
    color: blueviolet; 
  margin-left: 45%; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}